body {
  font-family: sans-serif;
  // line-height: 1.4em;
  color: white;
  background: #3F51B5;
  background-image: url(../img/court.jpg);
  background-attachment: fixed;
}

h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6 {
  font-weight: bolder
}

p {
  // line-height: 1.4em;
  margin-bottom: 1em;
}

a {
  color: #00AAEE;
  text-decoration: none;
}

.main {
  // animation: bg-animate linear 10s infinite;
  // background-color: #000;
  // opacity: 1;
  // height: 1000px;
  // width: 1000px;
}

@keyframes bg-animate {
  0%,100% {

  }
  50% {

  }
}

.new-game-container {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform-origin: 50% 100%;
  margin-top: 14em;
  animation: floating 1.5s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}

.title {
  color: white;
  font-size: 4em;
  font-family: 'oswald', sans-serif;
  text-align: center;
  padding-top: .3em;
  text-transform: uppercase;
  //margin-bottom: -1em;
}

.ball-icon {
  font-family: 'icon', 'oswald', sans-serif;
  color: #9D281D;
  text-transform: none;
}

.notification-center {
  font-family: 'icon', sans-serif;
  padding-left: 3em;
  margin-top: -1.5em;
  // padding-top: 2em;
  position: relative;
}

.lives {
  // position: absolute;
  // top: 2em;
  // left: 7.5em;
}

.clock {
  float: right;
  padding-right: 3em;
}

.subtitle {
  text-align: center;
  font-size: 1.8em;
  text-transform: uppercase;
  padding-top: 1em;
}

.easy-version {
  text-align: center;
  border: .3em solid white;
  width: 20em;
  padding: .7em 0;
  margin-top: 7em;
  position: absolute;
  top: 50%;
  left:50%;
  margin-left:-11em;
  transform: perspective(200px) rotateY(-15deg);
}

a {
  color: white;
}

.easy-version:hover, .hard-version:hover{
  color: black;
  background-color: white;
}

.hard-version {
  text-align: center;
  border: .3em solid white;
  width: 20em;
  padding: .7em 0;
  margin-top: 11em;
  position: absolute;
  top: 50%;
  left:50%;
  margin-left: -11em;
  transform: perspective(200px) rotateY(15deg);
}

.grid {
  text-align: justify;
  position: relative;
  // background-image: url(/img/court.jpg);
  // background-attachment: fixed;
  // background-size: contain;
  // background-repeat: no-repeat;
  // width: auto;
  height: auto;
  padding: 7em;
  padding-top: 2em;
}

.grid:after {
  content: "";
  display: inline-block;
  width: 100%;
  background: green;
}

.grid-cell {
  box-sizing: border-box;
  display: inline-block;
  margin: .1em;
  position: relative;
  border-right: 0;
  border-bottom: 0;
  float: left;
  width: 16%;
  // background: #7986cb;
}

.grid-cell:before {
  content: '';
  float: left;
  padding-top: 100%;
  width: 0em;
  background: red;
}

.checkbox {
  opacity: 0;
}

.grid-card {
  background: #d67a02;
  border-radius: 6em;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(http://thumbs.dreamstime.com/t/basketball-close-up-studio-shot-leather-flat-not-ball-33666449.jpg);
  background-size: cover;
}

// .grid-card:before {
//   content: '';
//   background: #7986cb;
//   border-radius: .5em;
//   display: block;
//   position: absolute;
//   top: 0;
//   right: 0;
//   left: 0;
//   bottom: 0;
// }
//
// .grid-card:after {
//   content: '';
//   background: #7986cb;
//   border-radius: .5em;
//   display: block;
//   position: absolute;
//   top: 0;
//   right: 0;
//   left: 0;
//   bottom: 0;
// }

.checkbox:checked + .grid-card {
  animation: flipInY .5s forwards;
}

.checkbox:not(:checked) +.grid-card {
  animation: flipOutY .5s forwards;
}

.checkbox:checked + .grid-card .grid-icon {
  animation: show .5s forwards;
}

.checkbox:not(:checked) + .grid-card .grid-icon {
  animation: hide .5s forwards;
}

@keyframes flipInY {
  0% {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
    opacity: 1;
  }

  60%, 100% {
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }

  70% {
    transform: perspective(400px) rotate3d(0, 1, 0, 20deg);
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
    // transition-timing-function: ease-in;
  }

  90% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    // transition-timing-function: ease-in;
  }
}

@keyframes flipOutY {
  0% {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 1;
  }

  60%, 100% {
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
  }

  70% {
    transform: perspective(400px) rotate3d(0, 1, 0, 200deg);
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, 170deg);
    // transition-timing-function: ease-in;
  }

  90% {
    transform: perspective(400px) rotate3d(0, 1, 0, 190deg);
    // transition-timing-function: ease-in;
  }
}

@keyframes hide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.grid-icon {
  font-family: 'icon', sans-serif;
  font-size: 8em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // z-index: 200;
}
